
* {
     font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #000000, #060606, #121212, #181818, #242424, #303030, #363636);
    background-size: 500%;
    animation: fanimado 20s linear infinite;
    flex-direction: column;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

:root {
    --bg: #bbb;
    --tx: #e4e4e4;
    --wh: #e4e4e4;
    --bl: #202020;
    --tx2: #edd119;
}

/* Estilo header */
header {
    position: fixed;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.name {
    display: flex;
    justify-content: center;
}

.title {
    color: var(--tx);
    position: relative;
    font-weight: 700;
    font-size: 3.5rem;
    text-shadow: 1px 1px 0 #0000008c, 2px 2px 0 #bbb, 3px 3px 0 #aaa, 4px 4px 0 #888;
    cursor: pointer;
}

.title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    height: 5px;
    background: var(--tx);
    border-radius: 1rem;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.title:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    box-shadow: 0.2rem 0.2rem 0.2rem var(--bg);
}

.logo-responsive a {
    font-family: 'Righteous';
    font-size: 36px;
    color: var(--wh);
    text-decoration: none;
    text-shadow: 1px 1px 0 #0000008c, 2px 2px 0 #bbb, 3px 3px 0 #aaa, 4px 4px 0 #888;
}

.logo-responsive {
    transition: .5s ease;
    display: none;
    text-align: center;
}

.logo-responsive:hover {
    transform: scale(1.5);
}

.container-nav {
    margin: 0;
}

.navbar {
    padding: 0;
    justify-content: space-between;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: var(--tx2);
    font-weight: 700;
    text-align: center;
    margin-left: 1rem;
}

.show-nav a ion-icon:hover {
    color: rgb(118, 107, 82);
}

.navbar a p::after {
    content: '';
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 3px;
    background: var(--tx);
    border-radius: 5px;
    transform: translatey(10px);
    opacity: 0;
    transition: 1s;
}

.navbar a p:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.icon {
    position: relative;
    display: block;
    font-size: 1.5rem;
}

.nav-responsive {
    background-color: transparent;
    color: var(--wh);
    padding-top: 20px;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}


/* Estilo Inicio */
main {
    display: flex;
    flex-direction: column;
}

.container-home {
    padding: 100px 0px 100px 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    background: url(../img/img-home.jpg)no-repeat;
    background-size: cover;
    height: 700px;
    width: 80%;
    display: flex;
}

.content {
    width: 70%;
    height: 100%;
    background-color: transparent;
    padding: 80px;
    color: var(--wh);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo {
    display: flex;
    font-family: 'Righteous';
    font-size: 40px;
    font-weight: 400;
}

.text-home h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}

.text-home h2 span {
    font-size: 30px;
}


.text-home p {
    font-size: 20px;
    text-align: justify;
    font-weight: lighter;
}

.social {
    display: flex;
}

.socials a ion-icon {
    font-size: 30px;
    color: var(--wh);
    margin-right: 15px;
    transition: .5s ease;
}

.socials a:hover ion-icon {
    transform: scale(1.5);
}

/* Seccion About Me */
.container-about-me {
    padding: 100px 0px 100px 0px; 
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    color: var(--tx);
}

.about-me {
    margin: 0;
    width: 80%;   
}

.content-about-me {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-about-me {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 3rem;
}

.title-about-me span {
    font-family: 'Righteous';
    font-weight: 400;
    display: block;
    justify-content: center;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 3s steps(11), blink .3s infinite step-end alternate;
    overflow: hidden;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes typing {
    from {width: 0}    
}

@keyframes blink {
    50% {border-color: transparent}
}

.container-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.container-img img {
    width: 300px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 16px 14px 20px #0000008c;
    border: 2px solid var(--wh);
}

.container-text {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-text p {
    width: 60%;
    text-align: justify;
}

.container-text span {
    font-family: 'Righteous';
    font-weight: 400;
    color: rgb(118, 107, 82)
}


/* Seccion responsiva a 1030px */

@media screen and (max-width:1030px) {
    .logo-responsive {
        display: block;
    }

    header section {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    .navbar a {
        width: 100%;
        margin: 0;
    }

    .show-nav {
        display: block;
        position: absolute;
        right: 55px;
        top: 75px;
        background-color: var(--bl);
        height: auto;
        width: 50px;
        border-radius: 0.5rem;
        justify-content: center;
        margin: 0;
    }

    .show-nav nav a p {
        display: none;
    }

    .show-nav nav a ion-icon {
        width: 100%;
        display: block;
        margin-bottom: 4px;
    }

    .home {
        height: auto;
        width: 90%;

    }

    .content {
        width: 100%;
        padding: 40px;
        text-align: center;
    }

    .content .logo {
        display: none;
    }

    .text-home h2 {
        font-size: 30px;
    }

    .text-home h2 span {
        display: none;
    }

    .text-home p {
        font-size: 14px;
    }

    .socials {
        margin-top: 20px;
    }

    .socials a ion-icon {
        font-size: 24px;
        margin-right: 10px;
    
}
}
.colorfondo{
    background-color: rgb(255, 165, 0);
}